%body
  %section.backpro
    %img.profilepic{:src => "http://likecool.com/Gear/Pic/One%20Trippy%20Profile%20Pic/One-Trippy-Profile-Pic.jpg"}/
    %p.proname Mike Zevitas
    %br/
    %p.prohead Your Photos!
    %br/
    .profilefriend
      %img{:src => "http://f.cl.ly/items/422K47303p0a2U0E2Y2f/Image%202014-10-04%20at%204.09.50%20PM.png"}/
