%body
  %section
    %img.guesses{:src => "http://www.wired.com/wp-content/uploads/blogs/insights/wp-content/uploads/2012/11/clouds_660.jpg"}
    %button.a A: Butterfly
    %br/
    %button.b B: Dragon
    %br/
    %button.c C: Mouse
    %br/
    %button.d D: Cow
  %aside
    %img{:src => "http://www.alfred.edu/gallery/images/arrow_right.gif"}/
