// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/bitters/app/assets/stylesheets/base';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
$bgcolor: hsla(192,83%,35%,1);
$font: 'Raleway', sans-serif;
$bgcolor2: hsla(192,83%,35%,.15);
$blue2: HSLA(192, 83%, 35%, 1);
$cloud: url('http://icon-icons.com/icons2/38/91612_clouds-512.png');



header {
  height: 150px;
  width: 1440px;
  background-color: $bgcolor;
}

header img {
  float: right;
  margin-right:25px;
  margin-top: 25px;
}

.logo {
  height: 100px;
  width: 500px;
  float: left;
  margin-top: 20px;
  margin-left: 20px;
}


.home {
  width: 65px;
  margin-top: 39px;

}

.camera {
  width: 75px;
  margin-top: 42px;
}

.questionmark {
  width: 75px;
  margin-top: 32px;
}

section {
  @include outer-container;
  text-align: center;
  margin-bottom: 3em;
  height: 650px;
  width: 750px;
  padding-top: 25px;
  overflow: auto;



}

.guesses {
  padding: 15px;

}





.profilepic {
  width: 43px;
  display: inline-block;
}

.proname {
  display: inline-block;
  font-family: $font;
  font-weight: normal;
  font-size: 45px;
  margin-top: -7px;
  margin-left: 10px;
}

.prohead {
  display: inline-block;
  font-family: $font;
  font-weight: normal;
  font-size: 35px;

}

.profilefriend {
  width: 500px;
  display: inline-block;

}



button {
  font-family: $font;
  font-weight: thin;
  background-color: $bgcolor;

  &:hover {

  }
}


aside {
  float: right;
  margin-top: -572px;
  margin-right: 125px;
}
aside img {
  width: 75px;
}

section {

   border: 6px double;
   border-color: $bgcolor;
   margin-top: 18px;
   background-color: $bgcolor2;
}


footer{
  width: 1440px;
  height: 100px;
  background-color: $bgcolor;
}
.navbar p{
text-align: center;
display: block;
  /* height: 100px; */
  font-family: 'Raleway' sans-serif;
  color: white;
margin-left: 10px;
margin-top: 10px;
}
